@{
    ViewData["Title"] = "Página Inicial";
}

<div class="row">
    <div class="col-12 col-sm-6 offset-sm-3 form-group">
        <input id="papeis" placeholder="Digite o ticker do papel" class="form-control"/>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-9 bg-success">
        <div class="text-center">
            <p>Coluna dos fundamentos</p>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="text-center" id="divNews" style="max-height: 400px !important;  overflow-y: scroll">
            
        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-12 col-md-12">
        <div class="text-center" id="chart">
        </div>
    </div>
</div>

@section Styles
{
    <partial name="Styles/_Typeahead"/>
    <partial name="Styles/_Toastr"/>
}

@section Scripts
{ 
    <partial name="Scripts/_Typeahead"/>
    <partial name="Scripts/_Toastr"/>
    <script src="js/home.js" type="text/javascript" asp-append-version="true"></script>
}
