@{
    ViewData["Title"] = "Página Inicial";
}

<div class="row">
    <div class="col-12 col-sm-6 offset-sm-3 form-group">
        <input id="papeis" placeholder="Digite o ticker do papel" class="form-control"/>
    </div>
</div>

    
<div class="row">
    <div class="col-sm-9">
        <div style="width: 100%">
            <div id="grafico-historico"></div>
        </div>
        <div style="width: 100%" style="margin: auto">
            <div id="fundamentos-papel"></div>
        </div>
    </div>
    <div class="col-sm-3" style='max-height: 675px; overflow-y: scroll'>
        <div style="width: 100%">
            <div id="noticias-papel" style="text-align: center"></div>
        </div>
    </div>
</div>


@section Styles
{
    <partial name="Styles/_Typeahead"/>
    <partial name="Styles/_Toastr"/>
}

@section Scripts
{ 
    <partial name="Scripts/_Typeahead"/>
    <partial name="Scripts/_Toastr"/>
    <script src="js/home.js" type="text/javascript" asp-append-version="true"></script>
}
